Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans: DATA: statistics it is raw and unprocessed . eg name,class

Information: when data is processed. "record is also information"
eg: pass or fail table etc.

Database: an organized collection of data and information or interrelated data collected at one place.

DBMS: collection of interrelated data and set of program to access data. eg: MySQL, oracle

DATABASE:
a database is organized collection of structured information ,or data.typically store in electronically  in computer system. A database controlled by the DBMS.

SQL VS NoSQL
SQL:
1)relational database management system(RDBMS)
2)these database have fixed or static or predefined schema(https://database.guide/what-is-a-database-schema/)
3)not suitable for hierarchical data storage
4)suitable for complex queries
5)vertically scalable
6)allow ACID property
7)example- MySQL, PostgreSQL,etc

NoSQL
1)Non-rational or distributed database system.
2)dynamic schema
3)best suitable for hierarchical data storage.
4) not suitable for complex queries 
5)horizontal scalable
6)follows CAP
7)eg- MongoDB, GraphQL,Neo4j etc
https://www.geeksforgeeks.org/difference-between-sql-and-nosql/

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans: DDL
DDL mean data definition language(DDL) is subset of SQL and part of DBMS.DDL consists of certain command and help to create or modify the tables in SQL.
Commands
1)Create
syntax: CREATE TABLE table_name(c1 datatype, c2 datatye2, .......);
eg: CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2)ALTER: used to add,delete or change columns in the existing table.
syntax
ALTER TABLE table_name
ADD column_name datatype;

eg- ALTER TABLE Student_info
ADD CGPA number;

3)TRUNCATE: used to remove all rows from the table, but the structure of table still exists
syntax
TRUNCATE TABLE table_name;

eg:
TRUNCATE TABLE student_info;

4)DROP: used to remove an existing table along its structure from the database
syntax:
DROP TABLE table_name;

eg:
DROP TABLE student_info;

5)RENAME: used to change the name of table with or without data in it using simple RENAME command.
syntax:
RENAME TABLE <table_name> to <new_table_name>;

eg:
RENAME TABLE employee to EMP;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:DML means DATA Manipulation Language and it is category of SQL. At a time we actually want to execute some complicated data interaction. we will nedd DML in this situation.
For DML statements, control over the transaction is needed. The alteration that DML statement does to the database is called a transaction. Thus, if any adjustment is made via DML statement, then it will be managed by Transaction Control Language(TCL) statements. It is also SQL statements’ subset that can go on to modify the data in tables. It also chiefly focuses on performance of the database, while it makes use of the append-only feature of the Hadoop Distributed File System(HDFS) storage.
DML are two types -

1)High-level or Non-Procedural DML
    a)it is set for a particular time or highly series oriented
    b)it can be used on its own for precisely specifying complex operations in the database.
    c)prescriptive(relating to the imposition or enforcement of a rule or method) in nature.
    d)it demand that a user must clearly state which data is needed without clarifying how and when to obtain those data.
    e)example- Every SQL statement is a prescriptive command.

2)Low-level or Procedural DML
    a)lablled as track-at-a time DML.
    b)it must be integrated to a general-purpose programming language.
    c)indispensable in nature.
    d)It demands that a user must clearly state which data is needed and how to obtain those data.
    e)eg: DB2’s SQL PL, Oracle’s PL/SQL.
    
Data Manipulation Language (DML) commands are as follows
1) SELECT command
syntax: SELECT * FROM <table_name>;
eg: SELECT * FROM <student>

2)INSERT 
syntax: INSERT INTO <table_name> ('column_name1' <datatype>)
VALUES ('value1');
eg:
INSERT INTO std('std_fee' INT)
VALUES('1');

3)UPDATE
syntax:
UPDATE <table_name>
SET <column_name = value>
WHERE condition;

eg:
UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

4)DELETE 
syntax
DELETE FROM <table_name>
WHERE <condition>;
eg: 
DELETE FROM student
WHERE stu_id = '101'

Advantages :

1)DML statements could alter the data that is contained or stored in the database.
2)It delivers effective human contact with the machine.
User could specify what data is required.
3)DML aims to have many different varieties and functionalities between vendors providing databases.

Disadvantages :
1. We cannot use DML to change the structure of the database..
2. Limit table view i.e., it could conceal some columns in tables.
3. Access the data without having the data stored in the object.
4. Unable to build or erase lists or sections using DML.

Q4. What is DQL? Explain SELECT with an example.
Ans: Structured Query Language (SQL) is a nonprocedural language used for retrieving data from the queries.
1. DQL statement are used for performing queries on the data within schema objects.
2. The purpose of the DQL command is to get some schema relation based on the query passed to it.
3.  DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it.

Characteristics of DQL: 
a) SELECT
syntax: SELECT * FROM <table_name>

eg: SELECT * FROM student_id

Advantages: 

1. SELECT is a standard command used for almost every query.
2. It can also be written as SELECT as SQL is a case-insensitive language.
3. It makes the data retrieving process easier.
4. No coding is needed.
5. This domain language can be used for communicating with the databases and receive answers to complex questions in seconds.


Disadvantages:

1. Data Query Language has no disadvantages.
1. It is not possible to imagine Structured Query Language without the select command.
2. Interfacing a DQL database is more complex than adding a few lines of code.
3. The operating cost of some DQL versions makes it difficult for some programmers to access them.


Applications: 
    a. Analytical Queries.
    b. Retrieve Information from the database.
    c. Modify the index structures and database table.

Q5. Explain Primary Key and Foreign Key.
Ans: Primary Key
1. used to ensure that data in specific column is unique.
2. A column cannot have NULL values.
3. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
example:
Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Table STUDENT

STUD_NO	STUD_NAME	STUD_PHONE	STUD_STATE	STUD_COUNT	STUD_AGE
    1	  RAM	     9865278251	 Haryana	 India	       20
    2	  RAM	     9655470231	 Punjab	     India	       19
    3	  SUJIT	     7514290359	 Rajasthan	 India         18
    4	 SURESH	     8564103258	  Punjab	 India         21
    
Foreign Key
A foreign key is column or group of columns in a rational database table that provides a link between data in two tables. It is a column that references a column of another table.
Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. 

Primary key vs foreign key

Primary key
1. used to ensure that data in the specific column is unique.
2. uniquely identifies a record in the relational database table.
3. only one primary key is allowed in a table.
4. it is combination of UNIQUE an Not Null constraints.
5. It does not allowed NULL values.
6. Its values cannot be deleted form the parent table.
7. it constraint canbe inplicitly defined on the temporary tables.

Foreign Key
1. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2. It refers to the field in a table which is the primary key of another table.
3. Whereas more than one foreign key is allowed in a table.
4. It can contain duplicate values and a table in a relational database.
5. also contain NULL values.
6. Its value can be deleted from the child table.
7. It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans: import mysql.connector
    mydb = mysql.connector.connect(
        host = "localhost"
        user = "abc"
        password = "password"
    )
    print(mydb)