In [1]:
import pymongo
# connected to server
client = pymongo.MongoClient("mongodb+srv://RajneeshKumar:5qC2Z7Wu64GWIDtG@cluster0.qgsxb7q.mongodb.net/?retryWrites=true&w=majority")
# create database
db = client['rajneesh']
# store data
data = {
    "name" : "Rajneesh",
    "class" : "B.TECH",
    "Year" : "2023"
}
# define the name of collection
collection_rajneesh = db["my_record"]

# insert the collection
collection_rajneesh.insert_one(data)

data1 = {
    "student_id" :"10ADU",
    "College" : "NIT Jalandhar",
    "Stream" : "B.TECH",
    "Year" : "2024",
    "TATA BYE BYE" :"",
}
collection_rajneesh.insert_one(data1)

data2 = [
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
collection_rajneesh.insert_many(data2)

G:\ProgramData\lib\site-packages\cryptography\x509\base.py:521: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

In [2]:
data3 = {
    "name" : "notebook",
    "qty" : 52,
    "rating" : [{"score" :8 },{"score" :43}],
    "tags" : ["college-ruled" , "perforated"]
}

In [3]:
collection_rajneesh.insert_one(data3)

In [4]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [5]:
collection_rajneesh.insert_many(list_of_records)

In [6]:
# find the data
collection_rajneesh.find_one() # gives first INSERT DATA

{'_id': ObjectId('6479dba32a1e8a12ca68471c'),
 'name': 'Rajneesh',
 'class': 'B.TECH',
 'Year': '2023'}

In [7]:
# for all record
for i in collection_rajneesh.find():
    print(i)

{'_id': ObjectId('6479dba32a1e8a12ca68471c'), 'name': 'Rajneesh', 'class': 'B.TECH', 'Year': '2023'}
{'_id': ObjectId('6479e137d6df875ef3358f08'), 'student_id': '10ADU', 'College': 'NIT Jalandhar', 'Stream': 'B.TECH', 'Year': '2024', 'TATA BYE BYE': ''}
{'_id': ObjectId('6479e23d6981d43ca231e795'), 'name': 'Rajneesh', 'class': 'B.TECH', 'Year': '2023'}
{'_id': ObjectId('6479e23f6981d43ca231e796'), 'student_id': '10ADU', 'College': 'NIT Jalandhar', 'Stream': 'B.TECH', 'Year': '2024', 'TATA BYE BYE': ''}
{'_id': ObjectId('6479e23f6981d43ca231e79a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6479e23f6981d43ca231e79e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6479e23f6981d43ca231e79c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6479e23f6981d43ca231e79d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6479e23f6981d43ca231e79f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6479e23f6981d43ca231e798'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6479e23f6981d43ca231e79b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6479e23f6981d43ca231e7a2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6479e23f6981d43ca231e797'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6479e23f6981d43ca231e7a0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6479e23f6981d43ca231e799'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6479e23f6981d43ca231e7a1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6479e6146981d43ca231e7a3'), 'name': 'notebook', 'qty': 52, 'rating': [{'score': 8}, {'score': 43}], 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('647ab8c76981d43ca231e7a4'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('647ab8c76981d43ca231e7a5'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('647ab8c76981d43ca231e7a6'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [9]:
# find the specfic data
for i in collection_rajneesh.find({'name': 'Sandy'}):
    print(i)

{'_id': ObjectId('6479e23f6981d43ca231e79a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [10]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [11]:
collection_rajneesh.insert_many(random_data)

In [13]:
for i in collection_rajneesh.find({'_id' : {'$gte' :'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [16]:
for i in collection_rajneesh.find({'_id' : {'$lt' : '4'}}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}

In [23]:
# UPDATE THE DATA 
collection_rajneesh.update_many({'companyName':'iNeuron'} , {'$set' :{'Company_Name' : 'APPLE Inc'}})

In [25]:
for i in collection_rajneesh.find():
    print(i)

{'_id': ObjectId('6479dba32a1e8a12ca68471c'), 'name': 'Rajneesh', 'class': 'B.TECH', 'Year': '2023'}
{'_id': ObjectId('6479e137d6df875ef3358f08'), 'student_id': '10ADU', 'College': 'NIT Jalandhar', 'Stream': 'B.TECH', 'Year': '2024', 'TATA BYE BYE': ''}
{'_id': ObjectId('6479e23d6981d43ca231e795'), 'name': 'Rajneesh', 'class': 'B.TECH', 'Year': '2023'}
{'_id': ObjectId('6479e23f6981d43ca231e796'), 'student_id': '10ADU', 'College': 'NIT Jalandhar', 'Stream': 'B.TECH', 'Year': '2024', 'TATA BYE BYE': ''}
{'_id': ObjectId('6479e23f6981d43ca231e79a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6479e23f6981d43ca231e79e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6479e23f6981d43ca231e79c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6479e23f6981d43ca231e79d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6479e23f6981d43ca231e79f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6479e23f6981d43ca231e798'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6479e23f6981d43ca231e79b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6479e23f6981d43ca231e7a2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6479e23f6981d43ca231e797'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6479e23f6981d43ca231e7a0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6479e23f6981d43ca231e799'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6479e23f6981d43ca231e7a1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6479e6146981d43ca231e7a3'), 'name': 'notebook', 'qty': 52, 'rating': [{'score': 8}, {'score': 43}], 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('647ab8c76981d43ca231e7a4'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment', 'Company_Name': 'APPLE Inc'}
{'_id': ObjectId('647ab8c76981d43ca231e7a5'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision', 'Company_Name': 'APPLE Inc'}
{'_id': ObjectId('647ab8c76981d43ca231e7a6'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'Company_Name': 'APPLE Inc'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ', 'Company_Name': 'APPLE Inc'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC', 'Company_Name': 'APPLE Inc'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR', 'Company_Name': 'APPLE Inc'}