In [6]:
from pymongo import MongoClient

# from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://RajneeshKumar:<password>@cluster0.qgsxb7q.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient("mongodb+srv://RajneeshKumar:5qC2Z7Wu64GWIDtG@cluster0.qgsxb7q.mongodb.net/?retryWrites=true&w=majority")

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

db = client.get_database("newdatabase")
collection = db.get_collection("newdatabase")
db = client.test

Pinged your deployment. You successfully connected to MongoDB!

In [10]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
import pymongo
client = pymongo.MongoClient("mongodb+srv://RajneeshKumar:5qC2Z7Wu64GWIDtG@cluster0.qgsxb7q.mongodb.net/?retryWrites=true&w=majority")

# create database
db = client['DS_skill']

data4 = {
    'HJDFK':'YUERVYI',
    'FJVTBR' : 87,
}
# CREATE COLLECTION
coll_data = db['collec']
coll_data.insert_one(data4)

coll_data1 = db['collec2']
data = {
    'wgf':42,
    'yufige' :'wrbyiwq',
}
coll_data1.insert_one(data)

In [18]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.
data_one = {"name" : "sudh" , 
        "class" :"data science masters " ,
        "time" : "flexi"}
coll_data1.insert_one(data_one)

data_many = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_data1.insert_many(data_many)

In [19]:
for i in coll_data1.find():
    print(i)

{'_id': ObjectId('647ad30d47b1d8be5dacccdc'), 'wgf': 42, 'yufige': 'wrbyiwq'}
{'_id': ObjectId('647ad31647b1d8be5dacccdf'), 'wgf': 42, 'yufige': 'wrbyiwq'}
{'_id': ObjectId('647ad55647b1d8be5daccce0'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5d647b1d8be5daccce1'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5e247b1d8be5daccce2'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5e247b1d8be5daccce3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('647ad5e247b1d8be5daccce4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('647ad5e247b1d8be5daccce5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('647ad5e247b1d8be5daccce6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('647ad5e247b1d8be5daccce7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('647ad5e247b1d8be5daccce8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('647ad5e247b1d8be5daccce9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('647ad5e247b1d8be5dacccea'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('647ad5e247b1d8be5daccceb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('647ad5e247b1d8be5dacccec'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('647ad5e247b1d8be5daccced'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('647ad5e247b1d8be5dacccee'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
for i in coll_data1.find_one({'name': 'Hannah'}):
    print(i)

_id
name
address

In [26]:
for i in coll_data1.find({'name': 'Hannah'}):
    print(i)

{'_id': ObjectId('647ad5e247b1d8be5daccce4'), 'name': 'Hannah', 'address': 'Mountain 21'}