Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
Ans: MongoDB is a non-rational document database that provides support for JSON like storage.

Non-relational databases: A non-relational databases is a database that does not use the tabular schema of rows and columns found in most of traditional database system.

MongoDB over the SQL
1. MongoDB is faster and more scalable.while SQL support the JOIN and Global transaction, MongoDB does not.
2.High availability: When you need high availability of data with automativ,fast and instant data recovery.
3.Unsatble Schema: If you have an unstable schema and you want to reduce your schema migration cost.
4.Cloud Computing: ifmost of your services are cloud-based, MongoDB is best suitable for you.

 Q2. State and Explain the features of MongoDB.
 Ans: 1. Support ad hoc queries: In mongoDB, you can search by field,range query and it also support expression searches.
2. Indexing: You can index any field in a document.
3. Replication: MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)
4. Duplication of data: MomgoDB can run over multiple servers. The data is duplicates to keep the system up and also keep its running ondition in case of hardware failure.
5.It also supports:
a)JSON data model with dynamic schemas
b)Auto-sharding for horizontal scalability
c)Built in replication for high availability

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
Ans: 
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
import pymongo
client = pymongo.MongoClient("uri")

# create database
db = client['DS_skill']

data4 = {
    'HJDFK':'YUERVYI',
    'FJVTBR' : 87,
}
# CREATE COLLECTION
coll_data = db['collec']
coll_data.insert_one(data4)

coll_data1 = db['collec2']
data = {
    'wgf':42,
    'yufige' :'wrbyiwq',
}
coll_data1.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
Ans:
data_one = {"name" : "sudh" , 
        "class" :"data science masters " ,
        "time" : "flexi"}
coll_data1.insert_one(data_one)

data_many = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_data1.insert_many(data_many)

for i in coll_data1.find():
     print(i)
output:  
{'_id': ObjectId('647ad30d47b1d8be5dacccdc'), 'wgf': 42, 'yufige': 'wrbyiwq'}
{'_id': ObjectId('647ad31647b1d8be5dacccdf'), 'wgf': 42, 'yufige': 'wrbyiwq'}
{'_id': ObjectId('647ad55647b1d8be5daccce0'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5d647b1d8be5daccce1'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5e247b1d8be5daccce2'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('647ad5e247b1d8be5daccce3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('647ad5e247b1d8be5daccce4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('647ad5e247b1d8be5daccce5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('647ad5e247b1d8be5daccce6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('647ad5e247b1d8be5daccce7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('647ad5e247b1d8be5daccce8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('647ad5e247b1d8be5daccce9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('647ad5e247b1d8be5dacccea'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('647ad5e247b1d8be5daccceb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('647ad5e247b1d8be5dacccec'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('647ad5e247b1d8be5daccced'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('647ad5e247b1d8be5dacccee'), 'name': 'Viola', 'address': 'Sideway 1633'}   


for i in coll_data1.find_one({'name': 'Hannah'}):
    print(i)
output: _id
name
address

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
Ans:syntax:  collection_name.find(query)
Find method consists of two parameters by which we can fetch a particular record. If we donâ€™t use these two parameters then the find method will return all the documents available within the MongoDB collection.
syntax
for i in coll_ram.find({'hello' : 'world'}):
    print(i)

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Ans: syntax: Collection_Name.find().sort("name", -1 or 1)
parametre: The value is 1 or -1 that specifies an ascending or descending sort respectively
return: 
It returns the documents in sorted order.
Example
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

Q7. Explain why delete_one(), delete_many(), and drop() is used.
Ans: delete_many():
syntax: 
collection_name.delete_many()filter,collation = none,hint=none,session = none)
filter: A query that matches the document to delete.
collation : An instance of class
hint(optional) : An index to use to support the query predicate.
session(optional):a

code:
import pymongo
 
 
client = pymongo.MongoClient("mongodb://localhost:27017/")
 
# Connecting to the database
mydb = client["raj"]
 
# Connecting the to collection
col = mydb["hello"]
 
query = {"Name": {"$regex": "^A"}}
d = col.delete_many(query)
 
print(d.deleted_count, " documents deleted !!")

delete_one():

import pymongo

students = pymongo.MongoClient('localhost', 27017)

Db = students["hp"]

coll = Db["bill"]
 
# creating query object

myQuery ={'Class':'2'}
coll.delete_one(myQuery)
 
# print collection after deletion:
for x in coll.find():
    print(x)
    
    
drop:
1. The drop() method removes the specified row or column.

2. By specifying the column axis (axis='columns'), the drop() method removes the specified column.

3. By specifying the row axis (axis='index'), the drop() method removes the specified row.

code:
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

newdf = df.drop("age", axis='columns')

print(newdf)