In [1]:
def test():
    pass

In [ ]:
def test1():
    print("hello")

In [18]:
# call test1
test1()

NameError: name 'test1' is not defined

In [6]:
test1()

NameError: name 'test1' is not defined

In [4]:
def test2():
    return "this is my first return"

In [5]:
test2()

'this is my first return'

In [8]:
def test3():
    return 'hello' , 2.5,4 , [14,1,4,5]

In [16]:
test3()

('hello', 2.5, 4, [14, 1, 4, 5])

In [17]:
a ,b,c,d = test3()

In [19]:
a

'hello'

In [20]:
c

4

In [21]:
d

[14, 1, 4, 5]

In [23]:
b

2.5

In [24]:
def test4():
    a = (5+4)/7
    return a

In [26]:
test4()

5.571428571428571

In [30]:
# data taken by user
def test5(a,b,c):
    d = a*b/c
    return d

In [31]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [32]:
test5(4,56,7)

32.0

In [33]:
test5("Df","sd","SD")

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
def type6(a,b):
    e = a+b
    return e

In [37]:
type6("Ind","ia")

'India'

In [39]:
type6([9,2],[1,1])

[9, 2, 1, 1]

In [40]:
l = [1,2,3,4, "hello" , "world" , 5,6,7,8,9]

In [41]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

In [42]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
l3 = [1,2,3,4, "hello" , "world" , 5,6,7,8,9]
def test7(l3):
    l8 = []
    for i in l:
        if type(i) == int or type(i) == float:
            l8.append(i)
    return l8

In [51]:

test7(l3)

[1]

In [67]:
l4 = [1,2,3,4,5,6,[10,11,12,13]]
def test8(l4):
    l = []
    for i in l4:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [68]:
test8(l4)

[1, 2, 3, 4, 5, 6, 10, 11, 12, 13]

In [78]:
def test9():
    """this is my function to extract"""
    print("hello")

In [79]:
test9()

hello

In [92]:
def test11(*rajneesh):
    return rajneesh

In [94]:
type(test11())

tuple

In [95]:
test11(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [96]:
test11(1,2,3,5,4,"ssg","GSfa", [1,4,5,7687,6,7,46,])

(1, 2, 3, 5, 4, 'ssg', 'GSfa', [1, 4, 5, 7687, 6, 7, 46])

In [1]:
def test12(*arg , a):
    return arg , a

In [2]:
test12((1,3,4,6,7), 78)

TypeError: test12() missing 1 required keyword-only argument: 'a'

In [3]:
def test13(a,b,c =45, d = 78):
    return a,b,c,d

In [22]:
test13(4,3,)

(4, 3, 45, 78)

In [ ]:
# dictionary

In [18]:
def test14(**h):
    return h

In [19]:
test14()

{}

In [20]:
type(test14())

dict

In [21]:
test14(a = [4,4,5,6,7])

{'a': [4, 4, 5, 6, 7]}