In [11]:
# Q1: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
# if we use [] pandas consider as list1 Series
list1 = ['4', '8', '15', '16', '23','42']

pandas_serie = pd.Series(list1)
print(pandas_serie)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [10]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

lst = ['ad','hf',"322", "24",'!@#$' , 'dse','rew','wr' , 'fsv' , 'fsf']

pseries = pd.Series(lst)
print(pseries)

0      ad
1      hf
2     322
3      24
4    !@#$
5     dse
6     rew
7      wr
8     fsv
9     fsf
dtype: object

In [3]:
# Q3. Create a Pandas DataFrame that contains the following data:
# Name
# Alice
# Bob
# Claire

# Age
# 25
# 30
# 27

# Gender
# Female
# Male
# Female

data = {'Name' :['Alice' , 'Bob','Claire'],
       'Age' : [25,30,27],
        'Gender' : ['Female' , 'Male' , 'Female']
       }

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''
ans: A dataframe is 2D data struture like 2D array or a tables ,rows and column.A series a 1D array holding data of any type but all the data in 1D is same. Pandas series like column in table.
ex:
series example
import pandas as pd

list1 = ['4', '8', '15', '16', '23','42']

pandas_serie = pd.Series(list1)
print(pandas_serie)

Dataframe example
data = {'Name' :['Alice' , 'Bob','Claire'],
       'Age' : [25,30,27],
        'Gender' : ['Female' , 'Male' , 'Female']
       }

df = pd.DataFrame(data)
print(df)

series vs dataframe
Pandas series: a) 1D
    b) Series element must be of the same data type
    c)Size immutable-Once created,the size of series object cannot be not changed

Pandas dataframe
a)2D
b) Series element can have of the different data type
c)Size-mutable – Elements can be dropped or added in an existing DataFrame.
'''

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
Ans:firstly import pandas ad pd

1. Read data
syntax
dataframe_name = pd.read_fileformat("file_name.format")
example: fd = pd.read_csv("hello.csv")

2. Head and tail
head- it use to return head of dataframe or it return the first row of dataframe.
tail-it use to return tail of dataframe or it return the last row of dataframe.
syntax: dataframe_name.head()
dataframe_name.tail()

3. shape ,size and info
shape- it gives rows and columns
syntax: dataframe_name.shape()

size- returns the number of rows times number of columns in the data frame.
syntax: dataframe_name.size()

info:get different information such as rows from RangeIndex, Data columns and then data type of each column. It also includes the information of non-null counts.
synatx: dataframe_name.info()

and somany


# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:Panel: it is 3D data structure with hetrogenous data. Dataframe and panel is mutable.

Data Structure	Dimensions	 Data Type	        Data	    Size
  Series	     1D array	 Homogeneous data   Mutable   Immutable
 Data Frame	     2D array	Heterogeneous data	Mutable	  Mutable
  Panel	         3D array	Heterogeneous data	Mutable	  Mutable

In [29]:
### Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

data1 = {'col1' : pd.Series([1,2,3]), 'col2' : pd.Series(['wr','ra','re'] , index=[1,2,3])}
data2 = [1,2,3,4,5,6]

ds = pd.DataFrame(data=data1, index = [1,2,0]) #re-indexing
print(ds)

   col1 col2
1     2   wr
2     3   ra
0     1  NaN

In [30]:
import pandas as pd

 

data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)

 

df_reindexed = df.reindex([2, 1, 0])

 

print(df_reindexed)

   name  age
2   Bob   35
1  Jane   30
0  John   25

In [31]:
data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)

 

for index, row in df.iterrows():

    print(row['name'], row['age'])

John 25
Jane 30
Bob 35

In [13]:
data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)

for row,index in df.iterrows():
    print(i['name'],index['age'])

John 25
John 30
John 35