Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df

In [3]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [6]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
''' Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
Ans: loc() function: It is lablled based data selecting method , which means we can pass the name of row or column
iloc() function: It is index based selecting method, which mean we can pass integer index in the method to select a specific row/column. 

Loc()  vs iloc()

loc:
A value = A single label or integer e.g. loc [A] or loc [1]
A list = A list of labels e.g. loc[[A, B]]
Slicing = e.g. loc [A:B], A and B are included
Conditions = A bool Series or list
Callable function = loc[lambda x: x[2]]

iloc()
A value = A single integer e.g.iloc[1]

A value =A list of integers e.g. iloc[[1,2,3]]
Slicing = e.g.iloc[n:m], n is included, mis excluded
Conditions =A bool list
Callable function = iloc[lambda x: x[2]]

ex in Q3 '''

' Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?\nAns: loc() function: It is lablled based data selecting method , which means we can pass the name of row or column\niloc() function: It is index based selecting method, which mean we can pass integer index in the method to select a specific row/column. \n\nLoc()  vs iloc()\n\nloc:\nA value = A single label or integer e.g. loc [A] or loc [1]\nA list = A list of labels e.g. loc[[A, B]]\nSlicing = e.g. loc [A:B], A and B are included\nConditions = A bool Series or list\nCallable function = loc[lambda x: x[2]]\n\niloc()\nA value = A single integer e.g.iloc[1]\n\nA value =A list of integers e.g. iloc[[1,2,3]]\nSlicing = e.g.iloc[n:m], n is included, mis excluded\nConditions =A bool list\nCallable function = iloc[lambda x: x[2]]\n\nex in Q3 '

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [8]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

new_df= pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration} , index = [3,0,1,2])
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [9]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [10]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

iloc(): is index based, that reason it gives Bigdata 



loc(): is labelled based, Data engineer labelled at 2

Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [11]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1.mean()

column_1    0.605781
column_2    0.516613
column_3    0.622280
column_4    0.444529
column_5    0.673755
column_6    0.433906
dtype: float64

In [12]:
df1.std()

column_1    0.244337
column_2    0.238645
column_3    0.320828
column_4    0.267241
column_5    0.148624
column_6    0.210369
dtype: float64

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
# Assuming you have a DataFrame called 'df1'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.731526  0.158920  0.009336  0.018719  0.083868  0.573101
2  0.070535  0.503251  0.360966  0.680147  0.812244  0.147375
3  0.948980  0.624777  0.466139  0.154509  0.324905  0.779277
4  0.426533  0.628206  0.508953  0.605999  0.915605  0.555207
5  0.833855  0.403136  0.884463  0.363288  0.677445  0.911140
6  0.612439  0.023054  0.003223  0.641566  0.117523  0.277517

In [25]:
df1.loc[1:6, 'column_2'] = 'pwskill'
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.731526  pwskill  0.009336  0.018719  0.083868  0.573101
2  0.070535  pwskill  0.360966  0.680147  0.812244  0.147375
3  0.948980  pwskill  0.466139  0.154509  0.324905  0.779277
4  0.426533  pwskill  0.508953  0.605999  0.915605  0.555207
5  0.833855  pwskill  0.884463  0.363288  0.677445  0.911140
6  0.612439  pwskill  0.003223  0.641566  0.117523  0.277517

In [29]:
df1['column_2'].mean()
# TypeError: Could not convert pwskillpwskillpwskillpwskillpwskillpwskill to numeric

In [31]:
# '''
# Q6. What do you understand about the windows function in pandas and list the types of windows
# functions?
# '''
# '''
# The window functions in Pandas are used to perform some sort of calculations 
# across a set of rows that are interrelated with the current row. 
# As we know, we have aggregate functions in SQL, which help us to perform mathematical calculations among the columns of a table. 
# Similarly, windows functions help us to perform aggregated calculations across various partitions or cross-sections of the data.

# Major difference between standard aggregate function of SQL and Windows
# aggregate function only return single value after performing the calculation specified in the SQL query.
# Windows function in Pandas returns a value for every row of the original table.
# '''
# '''
# windows function divide in three types
# 1. Aggregate
# 2. Ranking
# 3. Value
# '''

# '''
# 1. Aggregate: i) Group
#             ii) rolling
#             iii)expanding
            
# 2. Ranking : Row Numbers : i) reset_index and ii) cumcount()

#    Rank: i) default_rank
#     ii) min_rank
#     iii)NA_bottom
#     iv)descending
    
# 3. Value : 
# Lag / Lead, and
# First / Last/nth.

# '''

In [32]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

In [ ]:
Ans: